@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

:root {
    --primary-color: #536390; /*---Nav Header Color*/
    --secondary-color: #bec6da;   /*--- footer, pagination and table processing color color*/
    --font-color: #000000;    
    --bg-color: #dfe2ec;   /*--- main background color */
    --heading-color: #292922;  /* heading colors*/
    --btn-color: #17a2b8;
    --bg-color-lighter:#eff1f6;
    --btn-color-hover:#138496;
    --btn-color-disabled: #9ea9c7;
    --bg-color-darker: #eff1f6;
    --bg-color-white: #ffffff;
}

    

html{
    background-color: var(--bg-color);
}
/*table.featureInfo, table.featureInfo td, table.featureInfo th {

        border:1px solid #ddd;

        border-collapse:collapse;

        margin:0;

        padding:0;

        font-size: 90%;

        padding:.2em .1em;

    }

    table.featureInfo th {

        padding:.2em .2em;

        font-weight:bold;

        background:#eee;

    }

    table.featureInfo td{

        background:#fff;

    }

    table.featureInfo tr.odd td{

        background:#eee;

    }

    table.featureInfo caption{

        text-align:left;

        font-size:100%;

        font-weight:bold;

        padding:.2em .2em;

    }*/
    .print-container{
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        vertical-align: middle;
        overflow: hidden;
    }
    div.dataTables_filter{
        text-align: left !important;
        margin-left: 100px;
    }

    @media print {
    .print-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
   }


}


.top-dash .fa-user{
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    width: 30px;
}

.top-dash .fa-angle-down{
    margin-left: 10px;
}

.top-dash .dropdown-menu li a {
    padding: 12px 20px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: #333 !important;
}

.top-dash .navbar-nav > .user-menu > .dropdown-menu{
    padding: 0;
    width: 250px;
}

.top-dash .navbar-nav > li > a{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*.main-footer{
    margin-left: 0 !important;
    background-color: #b0ddf7;
    border: 0;
    color: #000;
    font-family: "Lato",sans-serif;
    padding: 10px;
    font-weight: 300;
}

.main-footer a{
    color: #444;
}*/


.chrome{
    text-align: center;
    margin-top: 20px;
   
}

#filter-form{
  padding-bottom: 20px;
}

#filter-form select{
    margin: 0 15px 0 10px;
}

#systemsite-tables_wrapper select{
    margin-left: 10px;
}

#filter-form select{
    margin: 0 10px;
}

#filter-form input{
    margin: 0 10px;
}

#data-table_wrapper div.dataTables_filter{
    text-align: right !important;
}

div.dataTables_processing {
    color: #000000;
    background: #3c8dbc;
    border: 1px solid #b0ddf7;
    z-index: 9;
    line-height: 18px;
    font-weight: bold ;
}

label.form-control {
    min-height: 34px;
    height: auto;
    white-space: pre-wrap;
}




.content-wrapper, .right-side{
    background-color: #fdfffd;
}

label{
    font-weight: 600;
}



.box.box-info {
    border-top-color: #d2d6de;
}

.box-header.with-border{
    border: 0;
}

.form-control:focus{
    border-color: var(--secondary-color) !important;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body{
    background-color: #dff0d8 !important;
    border-color: #d6e9c6;
    color: var(--secondary-color) !important;
}
.bg-brown{
    background-color: #964B00 !important;
    color: #fff !important;
}

.bg-light-green{
    background-color: #47BA09 !important;
    color: #fff !important;
}

.alert{
    padding: 8px;   
}

.wrapper{
  position: inherit !important;
 }

ul.selected-list {
    padding: 0;
}

ul.selected-list li {
    display: inline-block;
    padding: 5px 10px;
    margin: 8px 8px 8px 0;
    background: #d4efcb;
}

ul.selected-list li .fa {
    color: #27700a;
}

ul.selected-list li .fa:hover {
    color: #659e53;
}

.main-header .logo{
    text-align: left;
}

.logo-lg h2{
    font-size: 14px;
    margin: 0;
}

.logo-image{
    padding-top: 6px;
}

.logo-side{
    margin-left: 45px;
    padding-top: 1px;
}

.logo-side p{
    font-size: 14px;
    margin-bottom: 2px;
}

.main-header .logo{
    line-height: 18px;
}

.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini{
    line-height: 50px;
    text-align: center;
}


.form_header.form-group{
	width: 80%;
}

.containment_{
	padding: 0;
}

#filter-form .form_header input{
	width: 15%;
}

#filter-form.informal_{
	border-bottom: 1px solid #ddd;
	margin-bottom: 25px;
	padding-bottom: 10px;
}

.informal_ .form-group{
	padding-left: 0;
}

.informal_ label{
	padding: 5px 0;
}

.skin-blue .sidebar .map__ a{
	color: #333;
}

.search-btn .btn-info{
	margin-bottom: 0;
}

.ms-drop ul li label {
    cursor: pointer;
}

/*.ms-drop ul li label input[type=checkbox] {
    margin: 0 5px 2px 0;
}*/

input[type="radio"]:disabled {
    -webkit-appearance: none;
    display: inline-block;
    width: 13px;
    height: 13px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    background-color: white;
    border-radius: 50%;
    cursor: default;
}

input[type="radio"]:checked {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.form-control-2{
    display: block;
    /* width: 100%; */
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #00000070;
    background-color: #fff;
    background-image: none;
    margin-bottom: 16px;
    }
    
.remove-2{
    margin-bottom: 16px;
}

.datepicker {
z-index: 9999 !important;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.input-group-btn{
    width: auto !important;
}
.nextXDays {
    display: flex !important;
    align-items: center;
    max-width: 139px;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #d2d6de;
    xpadding-left: 0.5rem;
}
.nextXDays .prefix {
    padding-right: 0.5rem;
}
.nextXDays .suffix {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nextXDays input {
    flex-grow: 1;
    font-size: 14px;
    background: #fff;
    border: 1px solid #d2d6de;
    border-top: none;
    border-bottom: none;
    outline: none;
    padding: 0.5rem;
}

/* Rounded sliders */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
  
 
  }
  em {
    margin-left: 10px;
    font-size: 1rem;
}
  .theme-switch {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 30px;
    top: 15px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 15px;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 13px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 13px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(13px);
  }
  
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
 
   /* Blue themed changes */



div.form-group label{
    /* background-color: #115b42 !important;  --- Darker than Primary Color---- */
    font-weight: bold;
    color: var(--font-color) !important;
   
}
/* header */
.skin-blue .main-header .logo,
.skin-blue .main-header .navbar,
a.dropdown-toggle,
a.sidebar-toggle,
{
    background-color: var(--primary-color) !important;
}
section.content-header,
.content,
.box,
.content-wrapper, .right-side{
    /* color: #7DC1AA !important; */
    background-color:  var(--bg-color) !important; /* Lightest color for background*/
}

/*.main-footer{
    margin-left: 0 !important;
    background-color: var(--secondary-color);  secondary coilor for footer
    border: 0;
    color: #000;
    font-family: "Lato",sans-serif;
    padding: 10px;
    font-weight: 300;
    border-radius:5px;

}

.main-footer a{
    color: #444;  text color for footer 
}*/

.content-header h1,
h1{
    font-size:24px;
    color: var(--font-color) !important;  /* dashboard text color*/
}
/* data tables */
/*.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td,
.table>caption+thead>tr:first-child>td, 
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, 
.table>thead:first-child>tr:first-child>th,
.dataTables_length ,
.a{
    color: var( --font-color) !important;
    background-color: var(--bg-color) !important;
   
} */
div.dataTables_processing {
    color: #000000;
    background: var(--secondary-color);
    border: 1px solid #b0ddf7;
    z-index: 9;
    line-height: 18px;
    font-weight: bold ;
}

.pagination>li>a{
    background-color: var(--secondary-color) !important;
    color: black !important;
}
/* buttons */
.btn-success,
.btn-info,
.btn-info.active, .btn-info.focus, 
.btn-info:active, .btn-info:focus, 
.btn-info:hover, .open > .dropdown-toggle.btn-info{
    
    background-color: var(--btn-color);
    border: 1px #3c8dbc;

    margin-bottom: 2px;
}

.btn-info:hover{
    background-color: var(--btn-color-hover);
    opacity: 0.8;
}

.btn-info[disabled] {
    background-color: var(--btn-color-disabled);
    border: 1px solid #d4efcb;
}

label{
    font-weight: 600;
}

.pagination > .active > a, .pagination > .active > a:focus, 
.pagination > .active > a:hover, .pagination > .active > span, 
.pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: var(--secondary-color);
    border-color: #7a7a7a;
}

.box.box-info {
    border-top-color: #d2d6de;
}

.box-header.with-border{
    border: 0;
}

.form-control:focus{
    border-color: #8fc27c !important;
}

/* charts text color */
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title{
    color:var(--font-color);
}


#filter-form input,
#filter-form select{
    background-color: var(--bg-color-lighter);
}
.form-horizontal .control-label{
    color: var(--font-color);

}
.form-control{
    border-radius: 4px !important;
}
.btn-default{
    color: black;
    background-color: var(--bg-color-lighter);
}

#map{
    background-color: var(--bg-color-white) !important;
}

.info-box{
   border-radius: 5px !important;
    background-color: var(--bg-color-lighter) !important;
    color: var(--primary-color) !important;
    height: 93px !important;
}
.longer {
    height: 205px !important;
    line-height: 132px !important;
   
}
.info-box-icon{
    align-items: center !important;
    vertical-align: middle !important;
    height : inherit !important;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
.extra-padding .info-box{
    margin-bottom: 1.2em !important;
}

.icon i{
    font-size: 50px !important;
    padding-right: 5px !important;
    vertical-align: middle !important;
    padding-bottom: 10px !important;
}

.container-fluid.login{
    justify-content: center !important;
}

.box-body{
    color: var(--font-color) !important;
}

.icon img {
    width: 75px !important;
    height:75px !important;
}
@media only screen and (max-width: 500px) {
    .small-box .inner{
        width:100% !important;
    }
}
.small-box .inner{
    width:80%;
}

.info-box-number{
    font-size: 100% !important;
}

 /*
#map-right-sidebar{ 

    background-color: var(--bg-color-darker) !important;
    color: black !important;
}

#map {
    background-color: var(--bg-color) !important;
}
button, input, select, textarea,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
#analysis-tab .well,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
 .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, 
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
#buildings_overlay_legend_controller img{
    background-color: var(--bg-color-lighter) !important;
}
#analysis-tab .map-control, #analysis-tab .collapse-control{
    border: 0.5px dotted var(--primary-color) !important;
} */

 
 ul.alert-danger {list-style: none;} /* Remove list bullets */


/*
Custom Swal Alert
*/

.custom-swal{
    width: 300px !important;
}

.custom-swal .swal-title{
    font-size: 2rem !important;
    padding: 0px;
}

body {
          overflow: hidden;
      }
      .sidebar-mini.sidebar-collapse .main-sidebar {
          width: 0 !important;
      }

      .navbar-offset {
          margin-top: 50px;
      }
      .map-container {
          position: relative;
      }
      .sidebar-mini.sidebar-collapse .map-container {
          margin-left: 0 !important;
      }

      #map {
          z-index: 35;
          position: absolute;
          top: 80px;
          bottom: 0;
          left: 0;
          right: 0;
      }
      /*#olmap .ol-zoom {
          font-size: 1.2em;
      }*/
      #olmap .ol-scale-line {
          background: rgba(0,0,0,0.8);
      }
      .zoom-top-opened-sidebar {
          margin-top: 5px;
      }
      .zoom-top-collapsed {
          margin-top: 45px;
      }

      .map-toolbar {
          z-index: 99;
          padding: 3px 0;
          border-bottom: 1px solid #ddd;
          xmargin-top: 5rem;
          display: flex;
      }

   

      .controls-div ul {
          margin: 0;
          padding: 0;
      }

      .map-control-active {
          background: #d4efcb;
          border-color: #659e53;
      }

      .map-control-active:hover, .map-control-active:focus {
          background: #bfd8b6 !important;
          border-color: #59884a !important;
      }

/*      #building_search_form .form-control,
      #text_search_form .form-control {
          width: 50%;
      }*/

    #building_search_form input[type=text] {
        xwidth: 70%;
    }

    #building_search_form select {
        xwidth: 30%;
    }

    .overlay-spacer{
        margin-top: 14px;
    }
      #map-right-sidebar {
          background: #fff;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 250px;
      }

      #map-right-sidebar .tab-content {
          overflow-y: scroll;
          border-left: 1px solid #ddd;
      }

      #map-right-sidebar .tab-content .tab-pane {
          padding: 5px;
      }

      img.clip-legend {
          clip-path: inset(0 0 20px 0);
          margin-bottom: -20px;
      }

      #analysis-tab .map-control,
      #analysis-tab .collapse-control {
          display: block;
          text-align: left;
          margin-bottom: 5px;
      }
      
      #analysis-tab .map-control .fas,
      #analysis-tab .collapse-control .fas {
          width: 25px;
      }
      #analysis-tab .map-control .fa,
      #analysis-tab .collapse-control .fa {
          width: 25px;
      }
      #analysis-tab .collapse-control .fa-brands,
      #analysis-tab .map-control .fa-brands,
      #analysis-tab .collapse-control .fa-solid,
       #analysis-tab .map-control .fa-solid
      {
          width: 25px;
      }
      
      #analysis-tab .collapse-control {
          position: relative;
          padding-right: 20px;
      }

      #analysis-tab .collapse-control:after {
          position: absolute;
          right: 12px;
          font-family: 'FontAwesome';
          content: '\f067';
      }

      #analysis-tab .collapse-control[aria-expanded=true]:after {
          content: '\f068';
      }

      #analysis-tab .well {
          background: #fff;
          margin-bottom: 5px;
      }

      .mini-submenu{
        display:none;
        background-color: rgba(255, 255, 255, 0.46);
        border: 1px solid rgba(0, 0, 0, 0.9);
        border-radius: 4px;
        padding: 4px;
        /*position: relative;*/
        width: 30px;
        text-align: center;
      }

      .mini-submenu-top-left {
        position: absolute;
        top: 60px;
        left: 10px;
        z-index: 40;
      }
      .mini-submenu-top-right {
        position: absolute;
        top: 60px;
        right: 10px;
        z-index: 40;
      }
      .mini-submenu-bottom-left {
        position: absolute;
        left: 10px;
        bottom: 4px;
        z-index: 40;
      }
      .sidebar-top-left {
          position: absolute;
          padding: 0;
          top: 60px;
          left: 0;
      }
      .sidebar-top-right {
          position: absolute;
          padding: 0;
          top: 60px;
          right: 0;
      }
      .sidebar-bottom-left {
          position: absolute;
          padding: 0;
          left: 25%;
          bottom: 4px;
      }
      .map-container .sidebar {
          min-height: auto;
      }
      .map-container .sidebar .panel-group {
          margin-bottom: 0;
      }
      .sidebar-bottom-left .panel-body {
          min-height: 150px !important;
          max-height: 150px !important;
          height: 150px !important;
          padding: 0;
      }
      .sidebar-bottom-left .panel-body iframe {
          width: 100%;
          height: 100%;
          display: block;
          border: none;
      }
      .main-row {
          position: relative; top: 0;
      }

      .mini-submenu:hover{
        cursor: pointer;
      }

      .slide-submenu{
        background: rgba(0, 0, 0, 0.45);
        display: inline-block;
        padding: 0 8px;
        border-radius: 4px;
        cursor: pointer;
      }

      .olControlPanel div {
          display:block;
          width:  24px;
          height: 24px;
          margin: 5px;
          background-color:white;
        }

        .olControlPanel .olControlDrawFeatureItemActive {
          width:  22px;
          height: 22px;
          background-image: url("img/draw_line_on.png");
        }
        .olControlPanel .olControlDrawFeatureItemInactive {
          width:  22px;
          height: 22px;
          background-image: url("img/draw_line_off.png");
        }
        .olControlPanel .olControlZoomBoxItemInactive {
          width:  22px;
          height: 22px;
          background-color: orange;
          background-image: url("img/drag-rectangle-off.png");
        }
        .olControlPanel .olControlZoomBoxItemActive {
          width:  22px;
          height: 22px;
          background-color: blue;
          background-image: url("img/drag-rectangle-on.png");
        }
        .olControlPanel .olControlZoomToMaxExtentItemInactive {
          width:  18px;
          height: 18px;
          background-image: url("img/zoom-world-mini.png");
        }

        .sidebar .panel-body {
              min-height: 420px;
              max-height: 420px;
              overflow-y: auto;
        }

        #overlay_checkbox_container .checkbox {
            margin-bottom: 0;
        }

        #olmap .tooltip {
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        color: white;
        padding: 4px 8px;
        opacity: 0.7;
        white-space: nowrap;
      }
      #olmap .tooltip-measure {
        opacity: 1;
        font-weight: bold;
      }
      #olmap .tooltip-static {
        background-color: #ffcc33;
        color: black;
        border: 1px solid white;
      }
      #olmap .tooltip-measure:before,
      #olmap .tooltip-static:before {
        border-top: 6px solid rgba(0, 0, 0, 0.5);
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        content: "";
        position: absolute;
        bottom: -6px;
        margin-left: -7px;
        left: 50%;
      }
      #olmap .tooltip-static:before {
        border-top-color: #ffcc33;
      }

      .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 30px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 8px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }

      .ol-zoom {
          display: none;
      }

      .ajax-modal {
        position: absolute;
        background-color: rgba(0,0,0,0.6);
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: table;
        text-align: center;
    }
    .ajax-modal-content{
        display: table-cell;
        vertical-align: middle;
    }
    .ajax-modal-message {
        display: inline-block;
        padding: 15px;
        color: #a94442;
        background-color: #f2dede;
        border: 1px solid #ebccd1;
        border-radius: 4px;
    }
    .ajax-modal-message span {
        display: inline-block;
        padding-right: 15px;
    }
    .ajax-modal-close-btn {
        color: #8a6d3b;
        opacity: 0.4;
    }
    .ajax-modal-close-btn:hover {
        color: #000;
    }
    .loader {
        margin: 100px auto;
        font-size: 12px;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        position: relative;
        text-indent: -9999em;
        -webkit-animation: load5 1.1s infinite ease;
        animation: load5 1.1s infinite ease;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }
    #text_search_form .form-group, #building_search_form .form-group{
        width: 100%;
    }
    #text_search_form .input-group, #building_search_form .input-group{
        width: 100%;
    }
    @-webkit-keyframes load5 {
        0%,
        100% {
            box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
        }
        12.5% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
        }
        25% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
        }
        37.5% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
        }
        50% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
        }
        62.5% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
        }
        75% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
        }
        87.5% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
        }
    }
    @keyframes load5 {
        0%,
        100% {
            box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
        }
        12.5% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
        }
        25% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
        }
        37.5% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
        }
        50% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
        }
        62.5% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
        }
        75% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
        }
        87.5% {
            box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
        }
    }

    body .print_modal_dialog { margin-left: 0px !important }
    
/*    .modal, .modal-backdrop {
            background-color: rgba(0,0,0,0) !important;
       }*/
    /*    .modal-backdrop.in {
	opacity: 0.1 !important;
    }*/
    /*    #print_modal{
        padding-top: 70px;
        padding-left: 20px;
    }*/
    
    #print_modal {
        position: relative;
      }

     #print_modal .modal-dialog {
        position: fixed;
    /*        width: 100%;*/
        margin: 0;
        padding: 10px;
      }
      
     .modal-content { 
    /*          position: relative;*/
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 0.3rem;
        box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 50%);
        outline: 0;
     }
     
      .sidebar-mini.sidebar-collapse .main-header {
         margin: 0 auto !important;
 }
 
 input[type=checkbox], input[type=radio]{
         margin: 6px;
 }

 .layout-fixed .control-sidebar{
    height: 250px !important;
}

/*Add road tool form*/
      .add-road-form-group{
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
      }
      .add-road-form{
        display: flex;
        flex-direction: column;
        height: 60vh;
        overflow-y: scroll;
      }
      
      
      /*Get Road inaccessible buildings form*/
      .add-road-inaccessible-form-group{
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
      }
      .add-road-inaccessible-form{
        display: flex;
        flex-direction: column;
        height: 300px;
        overflow-y: scroll;
      }
      
      /*Get Waterbody inaccessible buildings form*/
      .add-waterbody-inaccessible-form-group{
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
      }
      .add-waterbody-inaccessible-form{
        display: flex;
        flex-direction: column;
        height: 222px;
        overflow-y: scroll;
      }
      
      
    .box-footer {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top: 1px solid #f4f4f4;
        padding: 10px;
        background-color: #fff;
    }